@model IEnumerable<AragonDork>

@{
    ViewData["Title"] = "Aradorks";
}

<div style="height: 40px;"></div>

<h2>AraDorks</h2>

<partial name="FiltroComponentAragonDorks" model="Model" />

<partial name="TablaDorks" model="Model" />

