@{
    ViewData["Title"] = "Home";
}

<link href="~/css/site.css" rel="stylesheet" />

<div style="height: 40px;"></div>

<div class="row">
    <partial name="Tarjeta1" model="Model" />
    <div class="col-md-3">
        <partial name="Tarjeta2" model="Model" />
    </div>
    <div class="col-md-3">
        <partial name="Tarjeta3" model="Model" />
    </div>
</div>

