@{
    ViewData["Title"] = "Home Page";
}

<link href="~/css/site.css" rel="stylesheet" />

<header style="height: 40px;"></header>

<div class="row">
    <div class="col-md-3">
        <div class="card mb-1">
            <img src="https://i.ibb.co/JrGfyWm/1677582979919.jpg" class="card-img-top" alt="https://i.ibb.co/JrGfyWm/1677582979919.jpg">
            <div class="card-body">
                <strong><h6 class="card-title">Araintel.NET Project</h6></strong>
                <p class="card-text text-truncate"></p>
                <a href="https://github.com/rvmu-rvmu/Araintelsoft.NET.git" class="btn btn-sm btn-dark">Explore Araintel.NET</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card mb-1">
            <img src="https://i.ibb.co/7ywzW5d/1677582979919.jpg" class="card-img-top" alt="https://i.ibb.co/7ywzW5d/1677582979919.jpg">
            <div class="card-body">
                <strong> <h6 class="card-title">LinkedinDB</h6></strong>
                <p class="card-text text-truncate"></p>
                <a asp-area="" asp-controller="Agenda" asp-action="Index" class="btn btn-sm btn-dark">Access LinkedinDB</a>
            </div>
        </div>
    </div>
</div>
