
<div class="col-md-3">
    <div class="card mb-1">
        <img src="https://i.ibb.co/JrGfyWm/1677582979919.jpg" class="card-img-top" alt="https://i.ibb.co/JrGfyWm/1677582979919.jpg">
        <div class="card-body">
            <h6 class="card-title"><strong>Araintelsoft GIT</strong></h6>
            <p class="card-text text-truncate"></p>
            <a href="https://github.com/rvmu-rvmu/Araintelsoft.NET.git" class="btn btn-sm btn-dark">Explore Araintel.NET</a>
        </div>
    </div>
</div>
