<div class="card mb-1">
    <img src="https://i.ibb.co/7ywzW5d/1677582979919.jpg" class="card-img-top" alt="https://i.ibb.co/7ywzW5d/1677582979919.jpg">
    <div class="card-body">
        <h6 class="card-title"><strong>AraDb</strong></h6>
        <p class="card-text text-truncate"></p>
        <a asp-area="" asp-controller="Agenda" asp-action="Index" class="btn btn-sm btn-dark">Access LinkedinDB</a>
    </div>
</div>