@model IEnumerable<aradork.Models.Agendum>

@{
    ViewData["Title"] = "AralinkDb";
}
<div style="height: 40px;"></div>

<h3>AralinkDb</h3>

<partial name="_FiltroAralinked" model="Model" />

<partial name="_TablaAralinked" model="Model" />

<partial name="_LicenseKeyForm" model="Model" />

