@model IEnumerable<aradork.Models.AragonDorks>

@{
    ViewData["Title"] = "Aragon Dorks";
}

<div class="container mt-4">
    <h2 class="mb-4">Administración de Dorks</h2>
    
    <!-- Filtro de búsqueda -->
    <partial name="_FiltroAragonDorks" />
    
    <!-- Tabla de resultados -->
    <partial name="_TablaDorks" />
</div>