@model IEnumerable<Araintelsoftware.Models.Agendum>

@{
}

<form asp-controller="Agenda" asp-action="Search" method="get">
    <p>
        Filtrar:
        Nombre <input type="text" name="searchFirstname" /> Apellido: <input type="text" name="searchLastname" /> Empresa: <input type="text" name="searchCompany" />
        <input type="submit" value="Filter" />
    </p>
</form>

