@model IEnumerable<Araintelsoftware.Models.Agendum>

@{
    ViewData["Title"] = "AralinkDb";
}
<div style="height: 40px;"></div>

<h3>AralinkDb</h3>

<partial name="FiltroComponent" model="Model" />

<partial name="AgendaTableComponent" model="Model" />

<partial name="LicenseKeyForm" model="Model" />

