@model IEnumerable<Araintelsoftware.Models.Agendum>

@{
}

<p style="color:red">
    Premium: Ingresa la contraseña: <input type="password" id="vault-password" />
    <button id="submit-password">Ingresar</button>
</p>
