@model IEnumerable<Araintelsoftware.Models.Agendum>

@{
}


<table class="table" id="table-sm">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Empresa</th>
            <th>Puesto</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var agendum in Model)
        {
            <tr>
                <td>@agendum.Firstname</td>
                <td>@agendum.Lastname</td>
                <td>@agendum.Company</td>
                <td>@agendum.Postion</td>
            </tr>
        }
    </tbody>
</table>